
// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.hashCut {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
    display: list-item;
}

.label-link-white {
    color: white;
}

.label-link-white:hover,
.label-link-white:focus,
.label-link-white:active {
    color: #000;
    text-decoration: none;
}
